@using Core.Utilities.Results.ComplexTypes
@model CategoryListDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.ResultStatus == ResultStatus.Success)
{

    <div id="modalPlaceHolder" aria-hidden="true">
    </div>
    <div class="card mb-4">
        <div class="card-header ">
            <i class="fas fa-table mr-1"></i>
         Kategoriler Tablosu    
        </div>
        <div class="card-body">
            <div class="spinner-border text-info" role="status" style="display:none">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="table-responsive">
                <table id="table" class=" table table-bordered" style="width:100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Transactions</th>
                           <th>Name</th>
                            <th>Description</th>
                            <th>IsActive</th>
                            <th>IsDeleted</th>
                            <th>Note</th>
                            <th>CreatedDate</th>
                            <th>CreatedByName</th>
                            <th>ModifiedDate</th>
                            <th>ModifiedByName</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {

                            <tr name="@category.Id">
                                <td>
                                    <button class="btn btn-success btn-sm btn-block btn-update" data-id="@category.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                        </svg>
                                    </button>
                                    <button class="btn btn-danger btn-sm btn-block  btn-delete" data-id="@category.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                        </svg>
                                    </button>
                                </td>
                                @*<td>@category.Id</td>*@
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td>@category.IsActive</td>
                                <td>@category.IsDeleted</td>
                                <td>@category.Note</td>
                                <td>@category.CreatedDate.ToShortDateString()</td>
                                <td>@category.CreatedByName</td>
                                <td>@category.ModifiedDate.ToShortDateString()</td>
                                <td>@category.ModifiedByName</td>
                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger mt-3">
        @Model.Message <br />
        Dashboard sayfasına geri dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index">tıklayınız.</a>
    </div>
}
@section Scripts{
   <script src="~/js/categoryindex.js" type="application/ecmascript">
       </script>
}

